<article id="events">

  <% @events.each do |event| %>
    <section>
      <h1><%= event.title %></h1>
      <h2>Date of event: <%= event.date %></h2>
        <p>
          <%= event.description %>
        </p>
        
        <% if signed_in? %>
          <p>
            <%= link_to 'Show', event %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
    </section>
  <% end %>

  <% if signed_in? %>
    <section>
      <%= link_to 'New Event', new_event_path %> |
      <%= link_to "XML representation of events list", events_path(@events, format: 'xml') %> |
      <%= link_to "JSON representation of events list", events_path(@events, format: 'json') %>
    </section>
  <% end %>

</article>